<h1>Our Board</h1>
 <div class="card-columns">
 <% @sorted.data.sort_board_members.each  do |memberdata| %>
   
        <a class="card bg-dark text-white" href = "">
            <img class="card-img" src="<%= memberdata.photo %>" alt="Card image">
            <div class="card-img-overlay">
                <h1 class="card-title"><%= memberdata.first_name %> <%= memberdata.last_name %></h1>
              
            </div>
        </a>

    <% end %>
</div>
