<h1>Join Our Team</h1>

 <% @sorted.job_listings.each do |job| %>
    <div class = "row mt-5">
       
        <div class = "col-sm-8">
            <h3><%= job.job_title %></h3>
            <% if job.job_summary != "" %>
                <p class="card-text"><%= job.job_summary %></p>
            <% else %>
                <% clean = strip_tags(job.job_description)%>
                <p class="card-text"><%= truncate( clean, :length => 460 ) %></p>
            <% end %>
            <a href = "" class = "btn ">Learn More</a>
        </div>
    </div>
<% end %>
