<% title @job.job_title %>
<% meta_tag :description, @job.seo_description %>

<nav aria-label="breadcrumb" class = "breadcrumbs__container">
  <ol class="list-inline breadcrumbs">
    <li class="list-inline-item"><a class = "breadcrumbs__link " href="/">Home</a></li>&bull;
    <li class="list-inline-item"><a class = "breadcrumbs__link " href="/jobs">Jobs</a></li>&bull;
    <li class="list-inline-item" aria-current="page"><span class = "breadcrumbs__link"><%= @job.job_title %></span></li>
  </ol>
</nav>
<h1><%= @job.job_title %></h1>
</div>
<div class = 'content-container content-container--long-text'>

<%== @job.job_description %>
