<% title @job.job_title %>


<h1><%= @job.job_title %></h1>

<%== @job.job_description %>


<nav aria-label="breadcrumb" class = "pt-5 text-center">
  <ol class="list-inline">
    <li class="list-inline-item"><a class = "badge " href="/">Home</a></li>&bull;
    <li class="list-inline-item"><a class = "badge " href="/jobs">Jobs</a></li>&bull;
    <li class="list-inline-item" aria-current="page"><span class = "badge"><%= @job.job_title %></span></li>
  </ol>
</nav>