<h1>Contact</h1>

<div class = "text-center mb-5">
    <h4 class = "roboto-con">910 17th Street NW, Second Floor<br>
    Washington, DC 20006</h4>

    <p>P: (202) 844-4975  <p> 

    <p>F: (202) 609-8030<p>
</div>

<div class = "row">
    <div class = "col-md-4">
        <a href = "mailto:contact@civilrightscorps.org" class = 'btn full-width contact-btn'><span class = "cell">Email</span></a>
    </div>
    <div class = "col-md-4">
        <a href ="mailto:media@civilrightscorps.org" class = "btn full-width contact-btn"><span class = "cell">Press Inquiries</span></a>
    </div>
    <div class = "col-md-4">
        <a href = "https://docs.google.com/forms/d/e/1FAIpQLScO0jdPbmylQ-iQNUVhnDOR4DmW2POez61anNTKHqKbMIe0Ew/viewform?usp=sf_link" target = "_blank" class = "btn full-width contact-btn" ><span class = "cell">Special Events, Panels, and Keynote Requests</span></a>
    </div>
</div>
<p><p>

