<h1>Donate</h1>
<div class = "page-banner donate"></div>
<div class = "row">
    <div class = "col-sm-8">
        <p>If you have followed our work seeking to end poverty jailing and to re-sensitize our legal system to the everyday injustice that it has normalized, please consider making a donation now.  Your help will enable us to continue challenging the money bail system, debtor's prisons, privatized probation, prosecutorial misconduct, and all of the other vital issues that our small staff works urgently on every single day.</p>

        <p>We especially appreciate monthly donations, which can be set up by selecting "Make this a monthly donation." </p>

        <p>Because we are a 501(c)(3) non-profit organization, contributions are tax deductible and do not represent payment for goods or services received. We will never sell, trade, or publish a donor's personal information. </p>

    </div>
    <div class = "col-sm-4">
        <p>Donations can also be mailed to: </p>

        <blockquote>Civil Rights Corps<br>
        910 17th St. NW, Suite 200<br>
        Washington DC, 20006</blockquote>

        <p>For assistance please call<br> <a href = "tel:2026436241">(202) 643-6241</a></p>
    </div>
</div>