<% title 'Donate' %>
</div>

<div class = "page-banner donate page-banner--full close-to-footer ">

<div class = 'content-container content-container--black '>
  <h1 class = "content-container--long-text mont-bold">Donate</h1>

  <div class = "content-container--long-text">
      <div class = "introduction">
      <p>If you have followed our work seeking to end poverty jailing and to re-sensitize our legal system to the everyday injustice that it has normalized, please consider making a donation now.  Your help will enable us to continue challenging the money bail system, debtor's prisons, privatized probation, prosecutorial misconduct, and all of the other vital issues that our small staff works urgently on every single day.</p>
      </div>
      <p class = "small-text">Because we are a 501(c)(3) non-profit organization, contributions are tax deductible and do not represent payment for goods or services received. We will never sell, trade, or publish a donor's personal information. </p>

      <div class = "table table--bordered">
        <div class = "cell max-50">
          <h3 class = "mont-bold text-center">Credit Card / Paypal</h3>
          <p>We especially appreciate monthly donations, which can be set up by selecting "monthly" under 'choose your donation amount'. </p>
          <div class="text-center">
            <a href = 'https://civilrightscorpsorg.secure.nonprofitsoapbox.com/donate' target="_blank" class="btn btn-lrg donate-button">Donate</a>
          </div>
        </div>
        <div class = "cell max-50">
          <h3 class = " text-center mont-bold">Mail</h3>
          <p>Donations can also be mailed to: </p>

          <blockquote>Civil Rights Corps<br>
          1601 Connecticut Avenue NW, Suite 800<br>
          Washington DC, 20009</blockquote>
        </div>
      </div>
      <div class = 'text-center introduction'>
        <p>For assistance please call <a href = "tel:2028444975">(202) 844-4975</a></p>
      </div>
    </div>
  </div>
</div>
</div>
