<div class = "first shadow">
    <div class = "center-vert">
        <h1 class = "abel text-center">Civil Rights Corps</h1>
        <p class = "abel text-center">
        Civil Rights Corps is a non-profit organization dedicated to challenging systemic injustice in the American legal system.  We work with individuals accused and convicted of crimes, their families and communities, people currently or formerly incarcerated, activists, organizers, judges, and government officials to challenge mass human caging and to create a legal system that promotes equality and human freedom.  Civil Rights Corps engages in advocacy and public education and specializes in innovative, systemic civil rights litigation with the goal of resensitizing the legal system and our culture to the injustice and brutality that characterize the contemporary American criminal system.
        </p>
     </div>
</div>
