<% title 'Mission Statement' %>
</div>


<div class = "page-banner mission page-banner--full close-to-footer ">
  <h1 class = "mont-bold text-center">Our Mission</h1>
  <div class = 'content-container content-container--black close-to-footer'>
    <div class = 'content-container--long-text'>
      <div class = "description">
        Civil Rights Corps (CRC) is a non-profit organization dedicated to <b>challenging systemic injustice</b> in the United States’ legal system- a system that is built on <b>white supremacy and economic inequality</b>.<br> <br>We work to <b>shift power to community-led movements</b>, particularly those led by Black and Brown people who are most affected by this legal system, so they can build sufficient power to <b>create structural change</b>.<br> <br> We work with individuals accused and convicted of crimes, their families and communities, people currently or formerly incarcerated, activists, organizers, judges, and government officials to <b>challenge mass human caging</b>, to create a legal system that <b>promotes equality and human freedom</b>, and to <b>dismantle white supremacy</b>. <br> <br>Civil Rights Corps engages in <b>advocacy and public education</b> and specializes in innovative, systemic civil rights litigation with the goal of <b>re-sensitizing the legal system</b> and our culture to the injustice and brutality that characterize the contemporary U.S. legal system.
      </div>
    </div>
  </div>
</div>
