<% title 'Donate' %>

<h1 class = "">Donate</h1>
<div class = "page-banner donate"></div>
</div>
<div class = 'content-container content-container--black close-to-footer '>

<div class = "text-center">

<h1 class = "display-2">Thank you!</h1>
</div>
