<h1>Our Docket</h1>
<% @states.each do |state| %>
   <div class="row full-width justify-content-center">
    <% first = true %>

        <% @docket.each do |item| %>
            <% if item.state.slug == state.slug %>
                <% if first == true %>
                    <hr class = "full-width">
                    <h3 class = "text-center full-width"><%= state.state_name %></h3>
                         
                    <% first = false%>
                <% end %>


                <div class = "col-three">
                    <% if !item.case.empty? %> 
                        <div class="card docket-item ">
                            <a href="/work/case/<%= item.case.slug %>" class="card-body ">
                                <div class = 'cell'>
                                    <h5 class="card-title"><%= item.city %></h5>
                                    <p class="card-text"><% if item.client_name != "" %><%= item.client_name %><% end %></p>
                                </div>
                            </a>
                        </div>
                    <% end %>
                </div>


            <% end %>
        <% end %>
    </div>
<% end %>

