<% title 'Resources' %>

<h1>Resources</h1>
</div>

<div class = 'content-container'>
  <% @files.file_topics.each do |topic| %>
  <div class = "row">
    <div class = "col-md-4">
      <h2 class = ""><%= topic.topic_title %></h2>
    </div>
    <div class = "col-md-8">
      <p class = "mb-5"><%= topic.topic_description %></p>

      <div class = "row ">
        <% counter = 0 %>
        <% topic.files.each do |file| %>
          <% slug = file.file.gsub(/https:\/\/cdn.buttercms.com\//, '')%>
          <%if counter % 2 == 0 %>
            <% if counter != 0 %>
              </div>
            <% end %>
            <div class = "card-deck">
          <% end %>
              <a class = "card file-card" href = "<%= file.file %>">
                <h4 class = ""><%= file.file_name %></h4>
              </a>

              <% counter = counter + 1 %>
              <% end %>
            </div>
      </div>
      <%if topic != @files.file_topics.last%>
      <hr />
      <% end %>
    </div>

  </div>
  <% end %>
