<h1>File Library</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
    </tr>
  </thead>
  <tbody>
   <% @files.files.each do |file| %>
    <% if file.private != true || @show_private == 'true' %>
        <% slug = file.file.gsub(/https:\/\/cdn.buttercms.com\//, '')%>
        <tr>
            <td><a href = "/file/<%= slug %>"><%= file.file_name %></td>
            <td></td>
        </tr>
    <% end %>
   <% end %>

  </tbody>
</table>