<h1><%= @title %></h1>
<a href = "/resources">Back</a>
<div class="embed-responsive embed-responsive-1by1">
  <iframe class="embed-responsive-item" src="https://cdn.buttercms.com/<%= @serial %>"></iframe>
</div>