@import "bootstrap";

//  variables
$black: #1e272c;
$black-offset: #272F35;
$white: #fff;
$lightgrey: #dfe0e1;
$purple: #704c9f;
$darkpurple: #4d2e76;
$transparentpurp: rgb(200, 179, 226);
$transparentblack: rgba(35,31,32,0.3);
$transparentgrey: rgba(223, 224, 225, 0.25);
$green: #22c677;
$darkgreen: #0ba259;
$montserrat: 'Montserrat', sans-serif;
$alfa: 'Alfa Slab One', cursive;

@mixin montserrat{
  font-family: 'Montserrat', sans-serif;
}

@mixin mont-light{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

@mixin mont-bold{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@mixin alfa{
  font-family: 'Alfa Slab One', cursive;
}

.mont-bold{
  @include mont-bold;
}

.alfa{
  @include alfa;
}

@mixin gradient{
  background: #22c677;
  background: -moz-linear-gradient(top, #22c677 0%, #704c9f 100%);
  background: -webkit-linear-gradient(top, #22c677 0%,#704c9f 100%);
  background: linear-gradient(to bottom, #22c677 0%,#704c9f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22c677', endColorstr='#704c9f',GradientType=0 );
}

@mixin gradient-h{
  background: #704c9f;
  background: -moz-linear-gradient(left, #704c9f 0%, #22c677 100%);
  background: -webkit-linear-gradient(left, #704c9f 0%,#22c677 100%);
  background: linear-gradient(to right, #704c9f 0%,#22c677 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#704c9f', endColorstr='#22c677',GradientType=1 );
}

body{
  color: white;
  background-color: #242e33;
  @include montserrat;
}

// utilities
.two-column{
    -webkit-column-count: 2;
    column-count: 2;
    @media only screen and (max-width:991px) {
        -webkit-column-count: 1;
        column-count: 1;
    }
}
.center-vert{
    transform: translateY(-50%);
    top:50%;
    position: relative;
}

.width-100{
    width: 100%;
}

.spaced{
    letter-spacing: 4px;
}

.table{
    display: table;
}

.cell{
    display: table-cell;
}

// general styles

a {
    color: $green;
    &:hover{
        color:$purple;
        text-decoration: none;
    }
}

p {
    font-family: $montserrat;
    line-height: 1.75;
    margin-bottom: 1.5rem;
    @media only screen and (max-width:479px) {
      font-size: 16px;
  	}
}

h1{
    font-size: 3em !important;
    margin-bottom: 50px;
    @include mont-light;
    color:white;
    @media only screen and (max-width:991px) {
        font-size: 2em !important;
    }
    @media only screen and (max-width:767px) {
        font-size: 2em !important;
    }
    @media only screen and (max-width:479px) {
        font-size: 1.5em !important;
    }
    @media only screen and (max-width:379px) {
        font-size: 1.3em !important;
    }
    @media only screen and (max-width:320px) {
        font-size: 1.1em !important;
    }
}

h2{
  font-size: 40px;
  margin-bottom: 40px;
  @media only screen and (max-width:767px) {
      font-size: 32px;
	}
  @media only screen and (max-width:479px) {
    font-size: 26px;
	}
}

h3, .h3{
  @media only screen and (max-width:479px) {
    font-size: 1.25rem;
  }
}

.btn{
    background-color:$purple;
    text-decoration: none;
    color:white;
    border-radius: 5px;
    @include mont-bold;
    white-space: normal;
    &:hover{
        color:$white;
        background-color:$darkpurple;

    }
}

a.card-body, a.card{
    border:1px solid $lightgrey;
    text-align: center;
    border-radius:5px;
    margin-bottom:1.25rem !important;
    &:hover{
        border:1px solid $green;
        text-decoration: none;
    }
    .card-text{
      color:$black;
      font-size: 15px;
      text-align: left;
    }
    .card-title{
        margin-bottom: 0;
        color:$black;
        @include mont-light;
        font-size: 22px;
        margin-bottom: 15px;
    }

}
.card{
    background-color:transparent;
}

.card.has-case{
    .card-body{
        border: 1px solid white;
    }
}
.breadcrumbs__container{
  position: absolute;
  top: 152px;
  left: 30px;
  z-index: 1;
  @media only screen and (max-width:479px) {
      top:100px;
	}
}

.breadcrumbs{
    @include alfa;
    color:$green;
    display: inline-block;
    font-size: 11px;
    @media only screen and (max-width:379px) {
        font-size: 10px;
    }
    .breadcrumbs__link{
      color:$green;
      text-transform: capitalize;
        &:hover{
            text-decoration: none;
            opacity: 1;
            color: $purple;
        }
    }
}

hr{
  border-top: 1px solid $lightgrey;
  margin: 3em 0 4em;
}

.section-header{
  border-bottom: 2px solid $green;
  font-size: 40px;
  @media only screen and (max-width:776px) {
    font-size: 34px;
  }
}

.content-container{
    padding: 25px 40px;
    @media only screen and (max-width:479px) {
      padding: 20px 30px;
    }
    ul:not(.slick-dots){
      list-style: none;
      li{
        margin-bottom: 15px;
        position: relative;
        &:before{
          content: '';
          width: 9px;
          height: 9px;
          border-radius: 9px;
          background-color: $purple;
          display: inline-block;
          position: absolute;
          top: 9px;
          left: -22px;
        }
      }
    }
}



.content-container--long-text{
  max-width: 900px;
  margin: 0 auto;
}

.content-container--black{
  background-color: $black-offset;
  color:white;
  a{
    color:$green;
  }
  .btn{
    color: white;
  }
}

.close-to-footer{
  margin-bottom: -48px;
}

@import 'home';
@import 'work';
@import 'header';
@import 'footer';
@import 'team';
@import 'media';
@import 'jobs';
@import 'files';

 /*
 *= require_tree .
 *= require_self
 */
