@import "bootstrap";

 body{
     background: #000;
     color:white;
     @extend .code;
 }

//  variables
$yellow: #f2c602;
$roboto:'Roboto Condensed', sans-serif;
$lato: 'Lato', sans-serif;
$anton: 'IBM Plex Mono', monospace;
$ibm: 'IBM Plex Mono', monospace;

.roboto-con{
    font-family: 'Roboto Condensed', sans-serif;
}

.lato{
    font-family: 'Lato', sans-serif;
}

.ibm{
    font-family: 'IBM Plex Mono', monospace;
}

.anton{
    font-family: 'Anton', sans-serif;
    font-family: 'IBM Plex Mono', monospace;

}
.code{
  
    font-family: 'Roboto Condensed', sans-serif;
}

.abel{
    font-family: 'Anton', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
}

// utilities
.two-column{
    -webkit-column-count: 2;
    column-count: 2;
}
.center-vert{
    transform: translateY(-50%);
    top:50%;
    position: relative;
}

.spaced{
    letter-spacing: 4px;
}

// general styles

a{
    color: $yellow;
    &:hover{
        color:white;;
    }
}

p{
    font-family: $lato;
    font-weight: 300;
    letter-spacing: 0.5px;
}

h1{
    font-size: 3em !important;
    text-align: center;
    margin-bottom: 50px;
    font-family: $anton;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.btn{
    background-color:transparent;
    border:1px solid white;
    text-decoration: none;
    color:white;
    &:hover{
        color:$yellow;
        background-color:transparent;
        border-color:$yellow;
    }
}

a.card-body, a.card{
    border:1px solid $yellow;
    text-align: center;
    border-radius:5px;
    margin-bottom:1.25rem !important;
    &:hover{
        border:1px solid white;
        text-decoration: none;
    }
    .card-text{
        color:white;
    }
  
}
.card{
    background-color:transparent;
}

.card.has-case{
    .card-body{
        border: 1px solid white;
    }
}

.breadcrumbs{
    margin-bottom: -70px;
    text-align: center;
    text-transform: capitalize;
    
    .badge{
        opacity: 0.7;

        &:hover{
            text-decoration: none;
            opacity: 1;
        }
    }
}

hr{
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.content-container{
    padding-top: 25px;
}

@import 'home.scss';
@import 'work.scss';
@import 'header.scss';
@import 'team.scss';
@import 'media.scss';

