 @import "bootstrap";
 @import 'home.scss';

 body{
     background: #000;
     color:white;
     @extend .code;
 }

//  variables
$yellow: #f2c602;


.code{
    font-family: "Source Code Pro", sans-serif;
}

.abel{
    font-family: 'Abel', sans-serif;
}

// utilities

.center-vert{
    transform: translateY(-50%);
    top:50%;
    position: relative;
}

// general styles

a{
    color: $yellow;
    &:hover{
        color:white;;
    }
}
// nav

.nav-item{
    a{
        color: white;
        opacity: 0.8;
        &:hover{
            opacity: 1;
        }
    }
}

body.home{
    nav{
        position: absolute;
        width: 100%;
        z-index: 1;
    }
}