.header{
    padding:0px 80px 0px;
    margin-bottom: 0px;
    width: 100%;
    height:50px;
    display: inline-block;
    background-color: $purple;
    @media only screen and (max-width:991px) {
      padding:  0 50px;
    }
    @media only screen and (max-width:479px) {
      padding: 0 30px;
    }
    .float-right{
        position: absolute;
        top:0;
        right:0;
    }
    .position-relative{
        position: relative;
    }
}

.header__logo--home{
  width:85px;
  display: inline-block;
  margin-top: 15px;
  img{
    width:100%;
  }
}

.home .header{
  position: absolute;
  z-index: 3;
  border-top:4px solid $purple;
  // border-bottom: 1px solid $transparentgrey;
  overflow: hidden;
  height:85px;
  background-color: transparent;
  .float-left .nav-item:last-child{
    border-right:1px solid $transparentgrey;
  }

}

.header__item{
  @include mont-bold;
  font-size: 13px;
  text-transform: uppercase;
  color:white;
  padding:15px 16px;
  text-align: center;
  height:50px;
  vertical-align: top;
  display: inline-block;
  img{
    width: 16px;
    vertical-align: sub;
    margin-right: 2px;
  }
  &:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.5)
  }
  @media only screen and (max-width:767px) {
    padding-top: 23px;
  }
}


.header__item--big + .header__item--big{
  border-left:1px solid $transparentgrey;
}



.header__item--hamburger{
  padding: 11px 10px 0 10px;
  font-size: 30px;
  line-height: 7px;
  cursor: pointer;
  @media only screen and (max-width:767px) {
    font-size: 45px;
  }
}

// interior header

.header--large{
  background-color: $black;
  height: 275px;
  position: relative;
  overflow: hidden;
  @media only screen and (max-width:479px) {
        height:200px;
	}
  &:after{
    // background-image: image_url('justice.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    content: '';
    right:0;
    display: inline-block;
    position: absolute;
    width: 32%;
    background-position: top right;
    background-position-y: 65px;
    opacity: 0.2;
  }
  h1{
    position: absolute;
    bottom: 0px;
    left:30px;
    @include mont-bold;
  }
}

.header--flex{
  background-color: $black;
  min-height: 275px;
  position: relative;
  overflow: hidden;
  @media only screen and (max-width:479px) {
        min-height:200px;
	}
  &:after{
    // background-image: image_url('justice.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    content: '';
    right:0;
    display: inline-block;
    position: absolute;
    width: 32%;
    background-position: top right;
    background-position-y: 65px;
    opacity: 0.2;
  }
  h1{
    position: relative;
    margin-top: 176px;
    left:30px;
    z-index: 1;
    @include mont-bold;
  }
}

.action-bar{
  background-color: rgba(112, 76, 159, 0.9);
  display: inline-block;
  width: 100%;
  padding: 0 15px;
  position: fixed;
  z-index: 4;
  top:0;
}

.action-bar__item{
  color:white;
  @include mont-bold;
  text-transform: uppercase;
  font-size: 11px;
  padding: 0 7px;
  img{
    width:13px;
    vertical-align: baseline;
  }
}
.action-bar__item + .action-bar__item{
  border-left: 1px solid rgba(255, 255, 255, 0.35);
}

.interior-header__main{
  position: fixed;
  top:0px;
  background-color: rgba(30, 39, 44, 0.9);
  display: inline-block;
  width:100%;
  padding: 0 0 0 15px;
  z-index: 4;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  border-top:4px solid $purple;
}

.interior-header__logo{
  width:90px;
  display: inline-block;
  margin: 10px 0;
  img{
    width:100%;
  }
}

.interior-header{
  .header__item{
    padding: 18px;
    height:59px;
    font-size: 16px;
    border-left:1px solid $transparentgrey;
    @media only screen and (max-width:340px) {
      padding:18px 15px;
    }
  }
  .header__item--hamburger{
    font-size: 20px;
  }
  .header__item--text{
    font-size: 11px;
    padding: 21px 2px 18px 11px;
  }
}

// mobile nav modal

#mobileNav, .modal{
    background-color: #1d262c;
    .modal-dialog{
      max-width: 80% !important;
        .modal-content{
            background-color: transparent;
            border: 0;
            .modal-header{
                border-bottom:0px;
                color:white;
                .close{
                    color:white;
                    opacity: 1;
                }
            }
        }
    }
    .close{
        color:white;
        opacity: 1;
        font-size: 53px;
        position: absolute;
        top: 37px;
        right: 76px;
        z-index: 1;
        @media only screen and (max-width:615px) {
          top:26px;
          right:35px;
        }
        @media only screen and (max-width:400px) {
          top:17px;
          right:23px;
        }
    }
}

.video-modal{
    background-color: rgba(0, 0, 0, 0.9)
}

.modal__nav{
  padding: 0;
}

.modal__item{
  list-style: none;
}

.modal__link{
  @include mont-bold;
  color:white;
  margin-top: 15px;
  font-size: 30px;
  display: block;
}

.modal__link--sub{
  @include mont-light;
  margin-top: 2px;
  font-size: 16px;
}

.social--modal{
  width:100%;
  text-align: center;
  margin-top: 45px;
  .social__icon.social__icon--dark{
    color:$black;
    height: 23px;
    width: 23px;
    padding: 5px;
    font-size: 11px;
    margin: 0 4px;
  }
}
