.header{
    padding: 40px 0px 30px;
    margin-bottom: 20px;
}

.nav{
    .nav-item{
        h1{
            margin-bottom: 0;
            line-height: 40px;
            font-size: 25px;
            a{
                opacity: 1;
            }
        }
    }
}

.mobile-header{
    display: inline-block;
    width: 100%;
    h1{
        font-size: 1.5rem;
    }
    .hamburger{
        font-size: 1.5rem;
    }
}

// mobile nav modal

#mobileNav{
    background-color: rgba(0, 0, 0, 0.78);
    .modal-dialog{
        .modal-content{
            background-color: transparent;  
            .modal-header{
                border-bottom:0px;
                color:white;
                .close{
                    color:white;
                    opacity: 1;
                }
            }
            .modal-body{
                .nav-item{
                    display: block;
                    width: 100%;
                    a{
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

.dropdown:hover>.dropdown-menu {
    display: block;
}   

.dropdown-menu{
    background-color: black;
    border:1px solid white;
    margin: 0;
    .dropdown-item:hover{
        background-color: #2d2d2d;
    }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: transparent
}