.header{
    padding: 40px 0px 30px;
    margin-bottom: 20px;
}

.nav{
    .nav-item{
        h1{
            margin-bottom: 0;
            line-height: 40px;
            font-size: 25px;
            a{
                opacity: 1;
            }
        }
    }
}