// body.home{
//     nav.header{
//         position: absolute;
//         width: 100%;
//         z-index: 1;
//     }
// }

.slide{
    min-height:65vh;
    width: 100%;
    display:inline-block;
    background-size: cover;
    background-position: center;
    position: relative;
    &.shadow{
        &:before{
          content:'';
          display: inline-block;
            width:100%;
            height:100%;
            background-color: rgba(0,0,0,0.45); 
            position: absolute;
            top:0;
            left: 0; 
        }
    }
}

.first {
    @extend .slide;
    background-image: image_url('pillar.jpg');
    background-position-y: 33%;
    .banner-title{
        font-size:96px;
        text-transform:uppercase;
        @media only screen and (max-width: 1200px) {
            font-size: 80px;
        }
        @media only screen and (max-width: 991px) {
            font-size: 64px;
        }
        @media only screen and (max-width: 767px) {
            font-size: 48px;
        }
        @media only screen and (max-width: 479px) {
            font-size: 33px;
        }
        @media only screen and (max-width: 320px) {
            font-size: 29px;
        }
    }
    p{
        max-width:900px;
        margin:0 auto;
        padding:20px 40px;
        @media only screen and (max-width: 479px) {
            line-height: 20px;
            padding: 20px 10px;
        }
        @media only screen and (max-width: 320px) {
            line-height: 18px;
            padding: 0px 8px;
            font-size: 14px;
        }
    }
    .center-vert{
        position: absolute;
        right:0;
        left: 0;
    }
}

// contact page
.contact{
    .content-container{
        max-width: 800px;;
    }
    .banner{
        position: relative;
        padding-bottom: 40px;
        &:after{
            content:'';
            display: inline-block;
            width:100%;
            height:100%;
            position: absolute;
            top:0;
            left: 0; 
            z-index: -1;
            opacity: 0.5;
            background-position: center;
            background-image: image_url('contact.jpg');
        }
    }
    .contact-btn{
        white-space: normal;
        min-height:90px;
        display: table;
        line-height: 24px;
        font-size: 18px;
        .cell{
            vertical-align: middle
        }
        &:hover{
            background-color: rgba(0, 0, 0, 0.5)
        }
        
    }
}

.page-banner{
    height:275px;
    width:100%;
    background-size:cover;
    background-position:center;
    margin-bottom: 40px;
    @media only screen and (max-width:776px) {
        height: 200px;
    }
    @media only screen and (max-width:479px) {
        height: 140px;
    }
}

.page-banner.join{
    height:400px;
    @media only screen and (max-width:991px) {
        height: 300px;
    }
    @media only screen and (max-width:776px) {
        height: 200px;
    }
    @media only screen and (max-width:479px) {
        height: 140px;
    }
}

.newsletter-area{
    background-color: #1b1b1bc9;
    padding: 54px 0 40px;
    #mc_embed_signup{
        margin-top: 20px;
    }
    input{
        line-height: normal;
        border: 1px solid white;
        background: transparent;
        color: white;
        padding: 15px 20px;
        width: 100%;
        @media only screen and (max-width: 479px) {
           padding: 15px;
        }
    }
    .mc-field-group{
        width: 80%;
        float: left;
        @media only screen and (max-width: 991px) {
            width: 70%;
        }
        @media only screen and (max-width: 479px) {
            width: 65%;
        }
    }
    .clear{
        float: right;
    }
    .display-4{
        @media only screen and (max-width: 991px) {
            font-size: 2.5rem;
            margin-top: -13px;
        }
    }
}
$banners: join donate;

@each $banner in $banners{
    .page-banner.#{$banner}{
        background-image: image_url('#{$banner}.jpg')
    }
}



.featured-area{
    padding: 50px 80px;
    @media only screen and (max-width:650px) {
        padding: 50px 25px;
    }
}
.case{
    border-bottom: 1px solid #7b7b7b;
    display: table;
    &.long{
        .case__image{
            width:50%;
            background-size:cover;
            background-position:center;
            min-height: 370px;
            display: table-cell;
            margin-bottom: -6px;
            @media only screen and (max-width: 991px) {
                min-height: 0px;
                display: none
            }
        }
    }
    &.short{

    }

}
.case__type{
    font-family: $roboto;
    text-transform: uppercase;
    font-size: 15px;
}
.case__title{
    font-family: $lato;
}
.case__link{
    text-transform: uppercase;
    margin-top: 40px;
    display: block;
    
}
.case__details{
    width: 50%;
    display: table-cell;
    padding: 40px 50px;
    border-top:4px solid white;
    @media only screen and (max-width: 991px) {
        width: 100%;
        display: block;
    }
    @media only screen and (max-width:650px) {
        padding: 40px 0px;
    }
}



