.banner{
    min-height:100vh;
    width: 100%;
    display:inline-block;
    position: relative;
    background-color: #000;
}
.banner--shadow{
  &:before{
    content:'';
    display: inline-block;
      width:100%;
      height:100%;
      background-color: #ad9cc1;
      mix-blend-mode: multiply;
      position: absolute;
      top:0;
      left: 0;
      z-index: 1;
  }
}
.banner__image{
  background-size: cover;
  background-position: center;
  filter:blur(4px);
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  padding-bottom: 30px;
  background-image: image_url('banner-default.jpg')
}

.banner__text{
  display: table;
  color:white;
  width:100%;
  height:100%;
  min-height: 100vh;
  position: absolute;
  z-index: 2;
  margin:auto;
  left:0;
  right:0;
  .banner__cell{
    display: table-cell;
    vertical-align: middle;
    padding: 0 50px;
    @media only screen and (max-width: 479px) {
        padding: 0 30px;
    }
  }
  h2{
    @include mont-bold;
    max-width: 920px;
    margin:auto;
    @media only screen and (max-width: 767px) {
      font-size: 32px;
    }
    @media only screen and (max-width: 479px) {
      font-size: 22px;
      text-align: left;
    }
  }
}

.banner__arrow{
  position: absolute;
  bottom: 20px;
  left:0;
  right:0;
  margin: auto;
  text-align: center;
  img{
    height:5vh;
  }
}

//featured area
.featured__container{
  background-color: $black;
  position: relative;
  top:-10px;
  z-index: 3;
  overflow: hidden;
  // background-image: image_url('justice.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 40px;
  background-position-x: 96%;
  @media only screen and (max-width: 1200px) {
    background-position-x: 109%;
  }
  @media only screen and (max-width: 991px) {
    background-image: none;
  }
}

.triangle{
  width: 100%;
  height: 0;
  border-style: solid;
  position: relative;
  z-index: 2;
}

.triangle--top{
  border-width: 85px 100vw 0 0;
  border-color: $purple transparent transparent transparent;
}

.triangle--bottom{
  border-width: 0 0 85px 100vw ;
  border-color: transparent transparent $purple transparent;
}

.featured__image{
  width:40%;
  display: inline-block;
  float: right;

  img{
    width: 100%;
  }
}

// not currently in use
.case__image{
    width:50%;
    background-size:cover;
    background-position:center;
    min-height: 370px;
    display: table-cell;
    margin-bottom: -6px;
    @media only screen and (max-width: 991px) {
        min-height: 0px;
        display: none
    }
}


.case__type{
    font-family: $alfa;
    color: $green;
    font-size: 15px;
    border-bottom: 4px solid;
    display: inline-block;
}

.case__title{
    @include mont-light;
    font-size: 36px;
}

.case__link{
    text-transform: uppercase;
    margin-top: 40px;
    display: block;
    @include mont-bold;
}

.case__description{
  font-size: 15px;
  line-height: 24px;
  text-align: justify;
}

.case__details{
    width: 100%;
    display: inline-block;
    padding: 40px 80px 40px 80px;
    color: white;
    @media only screen and (max-width: 991px) {
        width: 100%;
        display: block;
    }
    @media only screen and (max-width:650px) {
        padding: 40px 30px;
    }
}

.resource-container{
  background-color: $black;
  padding: 30px 0px 50px;
  margin-bottom: 30px;
  margin-top:-8px;
}

.resource-area{
  max-width: 1300px;
  margin:0 auto;
}

.resource{
  background-color: $black-offset;
  color:white;
  @include mont-bold;
  font-size: 20px;
  width:30%;
  margin: 0 10px;
  padding: 20px 30px;
  display: inline-table;
  min-height: 170px;
  box-shadow: -2px 2px 0px 1px #171d21;
  .view-link{
    text-transform: uppercase;
    margin-top: 40px;
    display: block;
    font-weight: 700;
    color: $green;
    font-size: 15px;
    text-align: right;
  }
  @media only screen and (max-width: 991px) {
    width: 93%;
    display: block;
    min-height:0px;
    margin: 0 30px;
    margin-bottom:15px;
  }
}

.newsletter-container{
  margin-top: -10px;
}
.newsletter-area{
    padding: 54px 30px 40px;
    background-color: #242e32;
    max-width: 810px;
    margin: 0 auto;
    h3{
      color:white;
      @include mont-light;
    }
    #mc_embed_signup{
        margin-top: 20px;
    }
    form{
      display: inline-block;
      width: 100%;
    }
    .email{
        line-height: normal;
        border: 1px solid $lightgrey;
        background: transparent;
        color: $white;
        padding: 15px 20px;
        width: 100%;
        @media only screen and (max-width: 479px) {
           padding: 15px;
        }
      &::-webkit-input-placeholder {
        color: $lightgrey;
        text-transform: uppercase;
      }
      &::-moz-placeholder {
        color: $lightgrey;
        text-transform: uppercase;
      }
      &:-ms-input-placeholder {
        color: $lightgrey;
        text-transform: uppercase;
      }
      &:-moz-placeholder {
        color: $lightgrey;
        text-transform: uppercase;
      }
    }
    .mc-field-group{
      width: calc(100% - 150px);;
      float: left;
    }
    .clear{
        float: left;
        margin-left: 10px;
        .btn{
          padding: 12px 20px;
          @include mont-bold;
        }
    }
}

// contact page
.contact{
    .footer--top{
      display: none;
    }
    .banner{
        position: relative;
        padding-bottom: 40px;
        &:after{
            content:'';
            display: inline-block;
            width:100%;
            height:100%;
            position: absolute;
            top:0;
            left: 0;
            z-index: -1;
            opacity: 0.5;
            background-position: center;
            background-image: image_url('contact.jpg');
        }
    }

}

.contact-btn{
    white-space: normal;
    min-height:40px;
    display: table;
    line-height: 19px;
    font-size: 16px;
    background: rgba(30, 39, 44, 0.63);
    max-width: 552px;
    margin: 0 auto;
    padding: 20px;
    .cell{
        vertical-align: middle
    }
    &:hover{
        background-color: $green
    }

}

.popup{
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 1000;
  overflow-y: scroll;
}

.popup__body {
  margin: 11vh 10% 0;
  padding: 50px 40px;
  background: $black;
  position: relative;
  min-height: 75vh;
  overflow: hidden;
  background-size: cover;
  background-position-x: 200px;
  border: 1px solid white;
  @media only screen and (max-width:1200px) {
    margin-top: 8vh;
  }
  @media only screen and (max-width:1060px) {
    padding:30px 40px;
  }
  @media only screen and (max-width:767px) {
    margin-top: 4vh;
    background-position-x: -68px;
  }
  @media only screen and (max-width:650px) {
    margin: 4vh 5% 0;
  }
  @media only screen and (max-width:479px) {
    padding:20px;
  }
}

.popup__header {
  @include mont-bold;
  font-size: 45px;
  z-index: 2;
  position: relative;
  @media only screen and (max-width:650px) {
    font-size: 24px;
  }
  @media only screen and (max-width:1060px) {
    font-size: 36px;
  }
  @media only screen and (max-width:767px) {
    font-size: 28px;
  }
  @media only screen and (max-width:479px) {
    font-size: 19px;
  }
}

.popup__description {
  margin:40px 0px;
  z-index: 2;
  position: relative;
  @media only screen and (max-width:1200px) {
    font-size: 14px;
    margin: 20px 0px;
  }
  @media only screen and (max-width:1060px) {
    max-width: 90%;
  }
  @media only screen and (max-width:767px) {
    max-width: 100%;
  }
  @media only screen and (max-width:650px) {
    font-size: 12px;
  }
  @media only screen and (max-width:650px) {
    p{
      font-size: 12px;
      line-height: 16px;
    };
  }
}

.popup__shape{
  width: 44%;
  float: right;
  height: 375px;
  clip-path: polygon( 49% 0%, 100% 0%, 100% 100%, -1% 100%);
  shape-outside: polygon( 49% 0%, 100% 0%, 100% 100%, -1% 100%);
  @media only screen and (max-width:400px) {
    display: none;
  }
}

.popup__close {
  font-size: 36px;
  @include mont-bold;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: -13px;
  z-index: 3;
  padding: 17px 25px;
}

.popup__link{
  z-index: 2;
    color: white;
    display: block;
    position: relative;
    margin-top: 26px;
    text-decoration: underline;
  &:hover{
    color:$green;
  }
}

.popup__button {
  background-color: $green;
  padding: 10px 35px;
  z-index: 2;
  position: relative;
}

.popup__overlay {
  background-color: $black;
  position: absolute;
  top: 0;
  left: -13%;
  width: 82%;
  height: 100%;
  z-index: 1;
  transform: skew(-20deg, 0deg);
  @media only screen and (max-width:767px) {
    left:-22%;
    width:100%;
  }
  @media only screen and (max-width:479px) {
    left: -33%;
    width: 121%;
  }
}

.popup__overlay--purple{
  background-color: rgba(16, 88, 45, 0.33);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
}


// banner css
$banners: join donate contact mission;

@each $banner in $banners{
    .page-banner.#{$banner}{
        background-image: image_url('#{$banner}.jpg')
    }

    .page-banner--full.#{$banner}{
      background-image: none;
      &:before{
        background-image: image_url('#{$banner}.jpg');
        width:100%;
        height:100%;
        position: absolute;
        top:0;
        left:0;
        content: '';
        z-index: 0;
        background-size:cover;
        background-position:center;
        display: inline-block;
        background-color: $black;
        background-blend-mode: overlay;
        filter: blur(2px);
      }
    }
}

.page-banner{
  height:275px;
  width:100%;
  background-size:cover;
  background-position:center;
  margin-bottom: 40px;
  background-color: $black;
  background-blend-mode: overlay;
  z-index: 0;
  top: 0;
  position: absolute;
}

.page-banner--full{
  height:auto;
  margin-bottom: -48px;
  padding-top: 105px;
  position: relative;
}

body.full{
  .header--large, .header--flex{
    height:3px;
    min-height: 3px;
  }

  h1{
    position: relative;
    z-index: 2;
  }
  .content-container--black, .content-container{
    background-color: transparent;
    position: relative;
    z-index: 2;
  }
}
.page-banner.join, body.jobs .header--large, body.jobs .header--flex{
    height:400px;
    padding-top: 64px;
    @media only screen and (max-width:991px) {
        height: 300px;
    }
    @media only screen and (max-width:776px) {
        height: 200px;
    }
    @media only screen and (max-width:479px) {
        height: 140px;
    }
}
