// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.jobs{
    .display-4{
        font-size: 3rem;
        @media only screen and (max-width:776px) {
          font-size:2rem;
        }
    }
}

// Donate

.table--bordered{
  border-collapse: separate;
  border-spacing: 30px;
  margin: 0 -30px;
  .cell{
      border:1px solid $lightgrey;
      padding: 20px 30px;
  }
}

.max-50{
    width:50%;
    @media only screen and (max-width:776px) {
      width:100%;
      display: inline-block;
      margin-bottom:20px;
    }
}

.small-text{
  @include mont-light;
  font-size: 13px;
}

.introduction {
    font-size: 19px;
    margin-top: 30px;
}
