// Place all the styles related to the Work controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.full-width{
    width:100%;;
}

.description{
    margin-bottom: 40px;
}

.topics{
    .card-img-top-bk{
        filter:grayscale(0.7);
        height:230px;
        background-position: center center;
        background-size: cover;
        @media only screen and (max-width:479px) {
            height: 175px;
        }
    }
}

.topic{
    .table{
        border-spacing: 29px 7px;
    }
    
}

.banner.work-banner{
    height:270px;
    background-size: cover;
    width: 100%;
    background-position: center;
    margin-bottom: 30px;
}

.work-cell{
    width:50%;
    border:1px solid $yellow;
    border-radius: 5px;
    padding: 20px 30px;
    
    &:hover{
        border:1px solid white;
        text-decoration: none;
    }
    @media only screen and (max-width:767px) {
        width: 100%;
        display: inline-block;
    }
}

.work-cell + .work-cell {
    @media only screen and (max-width:767px) {
        margin-top: 25px;
    }
}

.docket{
    hr{
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
    h3{
        text-transform: uppercase;
        font-size: 24px;
        font-family: $roboto;
        letter-spacing: 3px;
        margin-bottom: 40px;
    }
    .col-three{
        width:25%;
        padding: 15px;
        display: inline-block;
        margin: auto;
        .card-body{
            margin-bottom: 0 !important;
        }
        .card-text{
            font-family: $roboto;
            text-transform: uppercase;
            font-size: 15px;
        }
        .card-title{
            font-family: $lato;
        }
    }
}