// Place all the styles related to the Work controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.full-width{
    width:100%;;
}

.banner.work-banner{
    height:270px;
    background-size: cover;
    width: 100%;
    background-position: center;
    margin-bottom: 30px;
}

.description{
    margin-bottom: 40px;
    font-size: 19px;
    max-width: 900px;
    margin: 60px auto 100px;
    @media only screen and (max-width:776px) {
      font-size: 16px;
    }
    @media only screen and (max-width:479px) {
      text-align: left;

    }
}

.description--partners{
  a{
    background: $purple;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 6px;
    margin-right: 4px;
    font-weight: bold;
    &:hover{
      color: white;
      background-color: $green;
    }
  }
}

// Work#index Page

.gcard{
  @include gradient-h;
  display: inline-block;
  padding-bottom: 6px;
  margin-bottom: 20px;
  min-height: 264px;
  @media only screen and (max-width:1104px) {
    min-height: 279px;
  }
  @media only screen and (max-width:991px) {
    min-height: auto;
  }

}


.gcard__body{
  background-color: white;
  border: 1px solid $lightgrey;
  border-bottom: 0px;
  color: $black;
  padding: 20px 30px;
  min-height: 258px;
  @media only screen and (max-width:991px) {
    min-height: auto;
  }
}

.gcard__title{

}

.gcard__text{
  font-size: 13px;
  line-height: 1.5;
}

.gcard__link{
  color: $green;
  @include mont-bold;
  text-transform: uppercase;
  font-size: 13px;
}

#map-svg{
  margin: 0 auto;
  @media only screen and (max-width:991px) {
    transform: scale(0.7);
  }
}

.svg__filled:hover{
  fill: $green;
}

// Work#show Page

.work__cell{
    display: block;
    border-bottom:1px solid $lightgrey;
    padding: 20px 30px;
    color:$purple;
    @media only screen and (max-width:991px) {
      padding: 20px 15px;
    }
    p{
        color:$black;
    }
    &:hover{

        text-decoration: none;
    }
    @media only screen and (max-width:767px) {
        width: 100%;
        display: inline-block;
    }
}

.work__cell + .work__cell {
    @media only screen and (max-width:767px) {
        margin-top: 25px;
    }
}

// Work#detail Page

.sidebar__media{
  border-bottom:1px solid $lightgrey;
  padding: 16px 10px;
  margin: 0;
  a{
    color: $black;
    &:hover{
      color: $green;
    }
  }
}

.sidebar__file{
  border: 1px solid $lightgrey;
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;
  padding: 20px;
  color: $black;
  position: relative;
  left: -16px;
  border-right: 4px solid $purple;
  h5{
    margin-bottom: 0;
  }
  &:hover{
    border-right-color: $green;
  }
}

.sidebar__file-text{
  margin: 0;
}

.border__gray--left{
  border-left: 1px solid $lightgrey;
}

// Docket Page
.docket{
  svg{
    width: 180px;
    height: 180px;
    @media only screen and (max-width:767px) {
      display: none;
    }
  }
  .docket__state{
    @include mont-bold;
    width: 180px;
    top: 65px;
    font-size: 2.3rem;
    position: absolute;
    @media only screen and (max-width:767px) {
      top:0px;
      position: relative;
      text-align: left !important;
      font-size: 1.5rem;
    }
  }
  .docket__table-container{
    height:180px;
    display: table;
    .cell{
      vertical-align:middle;
    }
    @media only screen and (max-width:767px) {
      margin: 20px 0;
      height: auto;
    }
  }
  .docket__table{
    width: 100%;
    vertical-align:middle;
    tr{
        border-bottom: 1px solid $lightgrey;
    }

  }
}
