// Place all the styles related to the Work controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.full-width{
    width:100%;;
}

.banner.work-banner{
    height:270px;
    background-size: cover;
    width: 100%;
    background-position: center;
    margin-bottom: 30px;
}

.description{
    margin-bottom: 40px;
    font-size: 19px;
    max-width: 900px;
    margin: 60px auto 100px;
    text-align: center;
}

// Work#index Page

.gcard{
  @include gradient-h;
  display: inline-block;
  padding-bottom: 6px;
  margin-bottom: 20px;
  min-height: 264px;
}

.gcard__body{
  background-color: white;
  border: 1px solid $lightgrey;
  border-bottom: 0px;
  color: $black;
  padding: 20px 30px;
  min-height: 258px;
}

.gcard__title{

}

.gcard__text{
  font-size: 13px;
  line-height: 1.5;
}

.gcard__link{
  color: $green;
  @include mont-bold;
  text-transform: uppercase;
  font-size: 13px;
}

#map-svg{
  margin: 0 auto;
}

// Work#show Page

.work__cell{
    display: block;
    border-bottom:1px solid $lightgrey;
    padding: 20px 30px;
    color:$purple;
    p{
        color:$black;
    }
    &:hover{

        text-decoration: none;
    }
    @media only screen and (max-width:767px) {
        width: 100%;
        display: inline-block;
    }
}

.work__cell + .work__cell {
    @media only screen and (max-width:767px) {
        margin-top: 25px;
    }
}

.work__title{

}

// Docket Page
.docket{
  svg{
    width: 180px;
    height: 180px;
  }
  .docket__state{
    @include mont-bold;
    width: 180px;
    top: 65px;
    font-size: 2.3rem;
    position: absolute;
  }
  .docket__table-container{
    height:180px;
    display: table;
    .cell{
      vertical-align:middle;
    }
  }
  .docket__table{
    width: 100%;
    vertical-align:middle;
    tr{
        border-bottom: 1px solid $lightgrey;
    }

  }
}
