<footer class = "pt-5">
  <div class = "footer footer--top">
    <div class = "float-left">
      <p class = "address">
        1601 Connecticut Avenue NW, Suite 800<br>
        Washington, D.C. 20009<br>
        Phone: (202) 844-4975&nbsp;&nbsp;&nbsp;&nbsp;Fax: (202) 609-8030
      </p>
    </div>
    <div class = "float-left float-md-right ">
        <a href = "mailto:contact@civilrightscorps.org" class = 'footer__link'>Email</a>

        <a href ="mailto:media@civilrightscorps.org" class = "footer__link">Press Inquiries</a>

        <a href = "https://docs.google.com/forms/d/e/1FAIpQLScO0jdPbmylQ-iQNUVhnDOR4DmW2POez61anNTKHqKbMIe0Ew/viewform?usp=sf_link" target = "_blank" class = "footer__link" >Special Events & Speaking Requests</a>
    </div>
  </div>

  <div class = "footer footer--bottom">
    <ul>
        <li class="footer__item">
            <a class="nav-link" href="/work">Our Work</a>
        </li>
        <li class="footer__item">
            <a class="nav-link" href="/team/staff">Team</a>
        </li>
        <li class="footer__item">
            <a class="nav-link" href="/resources">Resources</a>
        </li>

        <li class="footer__item">
            <a class="nav-link" href="/donate">Donate</a>
        </li>

        <li class="footer__item">
            <a class="nav-link" href="/media">Media</a>
        </li>
        <li class="footer__item">
            <a class="nav-link" href="/jobs">Jobs</a>
        </li>
        <li class="footer__item">
          <div class = "social">
              <a href = "https://twitter.com/CivRightsCorps" target = "_blank" class = "social__icon"><i class="fab fa-twitter"></i></a>
              <a href = "http://www.facebook.com/civilrightscorps.org" target = "_blank" class = "social__icon"><i class="fab fa-facebook-f"></i></a>
              <a href = "https://www.instagram.com/civrightscorps/" target = "_blank" class = "social__icon"><i class="fab fa-instagram"></i></a>
          </div>
        </li>
    </ul>

 </div>
</footer>
