 <nav class="nav-pills nav-fill navbar-light  py-5 mt-5">
      <div class = "container">
       
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/work">Work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/board">Board</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/files">Files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/media">Media</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/join-our-team">Join Our Team</a>
            </li>
        </ul>
     </div>
</nav>

<p class = "small text-center">910 17th Street NW, Second Floor<br>
Washington, D.C. 20006<br><br>

P: (202) 844-4975&nbsp;&nbsp;&nbsp;&nbsp;F: (202) 609-8030</p>

<div class = "text-center pb-5">
    <a href = "https://twitter.com/CivRightsCorps" target = "_blank" class = "social-icon"><i class="fab fa-twitter"></i></a>
    <a href = "http://www.facebook.com/civilrightscorps.org" target = "_blank" class = "social-icon"><i class="fab fa-facebook-f"></i></a>
</div>