 <nav class="nav-pills nav-fill navbar-light  py-5 mt-5">
      <div class = "container">
       
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/work">Work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/board">Board</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/files">Files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/media">Media</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/join-our-team">Join Our Team</a>
            </li>
        </ul>
     </div>
    </nav>