<footer class = "pt-5">
 <nav class="nav-pills nav-fill navbar-light  pb-5 d-none d-sm-block">
      <div class = "">

        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/work">Our Work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resources">Policy Resources</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/donate">Donate</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/media">Media</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jobs">Jobs</a>
            </li>
        </ul>
     </div>
</nav>

<p class = "small text-center">910 17th Street NW, Second Floor<br>
Washington, D.C. 20006<br><br>

P: (202) 844-4975&nbsp;&nbsp;&nbsp;&nbsp;F: (202) 609-8030</p>

<div class = "text-center pb-5">
    <a href = "https://twitter.com/CivRightsCorps" target = "_blank" class = "social-icon px-2"><i class="fab fa-twitter"></i></a>
    <a href = "http://www.facebook.com/civilrightscorps.org" target = "_blank" class = "social-icon px-2"><i class="fab fa-facebook-f"></i></a>
    <a href = "https://www.instagram.com/civrightscorps/" target = "_blank" class = "social-icon px-2"><i class="fab fa-instagram"></i></a>
</div>

<div class = "container">
    <div class = "row mw-60 mb-4">
        <div class = "col-sm-4 mb-2">
            <a href = "mailto:contact@civilrightscorps.org" class = 'btn full-width contact-btn'><span class = "cell">Email</span></a>
        </div>
        <div class = "col-sm-4 mb-2">
            <a href ="mailto:media@civilrightscorps.org" class = "btn full-width contact-btn"><span class = "cell">Press Inquiries</span></a>
        </div>
        <div class = "col-sm-4 mb-2">
            <a href = "https://docs.google.com/forms/d/e/1FAIpQLScO0jdPbmylQ-iQNUVhnDOR4DmW2POez61anNTKHqKbMIe0Ew/viewform?usp=sf_link" target = "_blank" class = "btn full-width contact-btn" ><span class = "cell">Special Events, Panels, and Keynote Requests</span></a>
        </div>
    </div>
</div>
</footer>
