 <nav class="  ">
      <div class = "container">
       <% unless current_page?(root_path) %>  
            <h1><a href = "/" class = "navbar-brand">Civil Rights Corps</a></h1>
        <% end %>
        <ul class="<% if current_page?(root_path) %> nav nav-fill nav-pills<% else %>nav justify-content-end <% end %>">
            <li class="nav-item">
                <a class="nav-link " href="/work">Work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/board">Board</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= 'disabled' if params[:controller] == 'buttercms/posts' %>" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/files">Files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/media">Media</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jobs">Join Our Team</a>
            </li>
        </ul>
     </div>
    </nav>