<nav class="header">
  <div class = "float-left">
    <a class = "header__item">
      Sign Up&nbsp; <i class="far fa-envelope"></i>
    </a>
    <a class = "header__item" href="http://www.facebook.com/civilrightscorps.org">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a class = "header__item" href="https://twitter.com/CivRightsCorps">
      <i class="fab fa-twitter"></i>
    </a>
    <a class = "header__item" href="https://www.instagram.com/civilrightscorps/">
      <i class="fab fa-instagram"></i>
    </a>
  </div>

  <div class = "float-right">
    <a class = "header__item" href = "/donate">
      <%= image_tag("logo-mark.png") %> Donate
    </a>
    <div class = "header__item header__item--hamburger">
      <div class = "hamburger"><i class="fas fa-bars" data-toggle="modal" data-target="#mobileNav"></i></div>
    </div>
  </div>
</nav>

<div class="modal fade" id="mobileNav" tabindex="-1" role="dialog" aria-labelledby="mobileNav" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fas fa-times"></i>
  </button>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ul class=" nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link <%= 'disabled' if params[:controller] == 'work' %>" href="/work"> Our Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= 'disabled' if params[:controller] == 'home#contact' %>" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= 'disabled' if params[:controller] == 'team' %>" href="/team/staff">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resources">Policy Resources</a>
                    </li>
                   <li class="nav-item">
                        <a class="nav-link" href="/donate">Donate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/media">Media</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jobs">Jobs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
